# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [4]:
# merge datasets
df = messages.merge(categories, how='outer', on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [5]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [6]:
# check for missing values
categories.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
dtype: int64

In [7]:
# check if columns contaist only the same words
for i in categories.columns:
    print (categories[i].value_counts())

related-1    20042
related-0     6140
related-2      204
Name: 0, dtype: int64
request-0    21873
request-1     4513
Name: 1, dtype: int64
offer-0    26265
offer-1      121
Name: 2, dtype: int64
aid_related-0    15432
aid_related-1    10954
Name: 3, dtype: int64
medical_help-0    24287
medical_help-1     2099
Name: 4, dtype: int64
medical_products-0    25067
medical_products-1     1319
Name: 5, dtype: int64
search_and_rescue-0    25661
search_and_rescue-1      725
Name: 6, dtype: int64
security-0    25915
security-1      471
Name: 7, dtype: int64
military-0    25523
military-1      863
Name: 8, dtype: int64
child_alone-0    26386
Name: 9, dtype: int64
water-0    24702
water-1     1684
Name: 10, dtype: int64
food-0    23430
food-1     2956
Name: 11, dtype: int64
shelter-0    24044
shelter-1     2342
Name: 12, dtype: int64
clothing-0    25976
clothing-1      410
Name: 13, dtype: int64
money-0    25780
money-1      606
Name: 14, dtype: int64
missing_people-0    26085
missing_people-1      301
Name: 15, dtype: int64
refugees-0    25506
refugees-1      880
Name: 16, dtype: int64
death-0    25182
death-1     1204
Name: 17, dtype: int64
other_aid-0    22922
other_aid-1     3464
Name: 18, dtype: int64
infrastructure_related-0    24677
infrastructure_related-1     1709
Name: 19, dtype: int64
transport-0    25174
transport-1     1212
Name: 20, dtype: int64
buildings-0    25041
buildings-1     1345
Name: 21, dtype: int64
electricity-0    25848
electricity-1      538
Name: 22, dtype: int64
tools-0    26227
tools-1      159
Name: 23, dtype: int64
hospitals-0    26103
hospitals-1      283
Name: 24, dtype: int64
shops-0    26266
shops-1      120
Name: 25, dtype: int64
aid_centers-0    26077
aid_centers-1      309
Name: 26, dtype: int64
other_infrastructure-0    25231
other_infrastructure-1     1155
Name: 27, dtype: int64
weather_related-0    19043
weather_related-1     7343
Name: 28, dtype: int64
floods-0    24209
floods-1     2177
Name: 29, dtype: int64
storm-0    23922
storm-1     2464
Name: 30, dtype: int64
fire-0    26104
fire-1      282
Name: 31, dtype: int64
earthquake-0    23925
earthquake-1     2461
Name: 32, dtype: int64
cold-0    25853
cold-1      533
Name: 33, dtype: int64
other_weather-0    25007
other_weather-1     1379
Name: 34, dtype: int64
direct_report-0    21273
direct_report-1     5113
Name: 35, dtype: int64

Categorie related has values equal to 0, 1 or 2.  We will need to check what messages age classified as related-2.

In [8]:
# select the first row of the categories dataframe
row = categories.loc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[:-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [9]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [10]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str.extract('(\d+)')
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [11]:
# drop the original categories column from `df`
df.drop('categories', axis=1, inplace=True)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [12]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [13]:
# check number of duplicates
df[df.duplicated()]

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
164,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
165,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
658,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
659,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
660,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25291,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
25292,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
25378,29119,Most victims (90 per cent) show little or no s...,NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
25379,29119,Most victims (90 per cent) show little or no s...,NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
25380,29119,Most victims (90 per cent) show little or no s...,NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
print (df.shape)
# drop duplicates
df.drop_duplicates(inplace=True)
df=df.reset_index(drop=True)
df.shape

(26386, 40)

(26216, 40)

In [15]:
# check number of duplicates
df.duplicated().sum()

0

### Related-2 values

In [16]:
df[df['related']==2]

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
117,146,Dans la zone de Saint Etienne la route de Jacm...,Nan zon st. etine rout jakmel la bloke se mize...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
219,263,. .. i with limited means. Certain patients co...,t avec des moyens limites. Certains patients v...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
305,373,The internet caf Net@le that's by the Dal road...,Cyber cafe net@le ki chita rout de dal tou pr ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
460,565,"Bonsoir, on est a bon repos aprs la compagnie ...",Bonswa nou nan bon repo apri teleko nan wout t...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
576,700,URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX ...,r et Salon Furterer. mwen se yon Cosmtologue. ...,direct,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20324,23662,transferred to a sanitary landfill site by a,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20495,23861,Families also have solar lamps which can be re...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22326,25874,Read the [full blog post](http://www.odi.org.u...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23382,27071,Actualmente e independientemente de la ayuda d...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25215,29126,Mali's former President Amadou Toumani Touré -...,NaN,news,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
for i in (df[df['related']==2]['message'].index):
    print (i, df.iloc[i]['related'], '\n', df.iloc[i]['message'])

117 2
 Dans la zone de Saint Etienne la route de Jacmel est bloqu, il est trsdifficile de se rendre  Jacmel
219 2
 . .. i with limited means. Certain patients come from the capital.
305 2
 The internet caf Net@le that's by the Dal road by the Maranata church ( incomplete )
460 2
 Bonsoir, on est a bon repos aprs la compagnie teleko sur la route a droite de l'impasse Roger colas aprs la 9e maison sur la main droite de la rue, on est environ 30 personnes sur un. ..
576 2
 URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX DES MISSIONS IMPASSE BALEV BUTTE BOYER MANQUE EAU ET NOURRITURE N ONT VU AUCUN SECOURS DEPUIS 8 JOURS HELP HELP
655 2
 elle est vraiment malade et a besoin d'aide. utilisez mon numero de tlphone pour obtenir plus de renseignements. Nous attendons une reponse. Aucun numero fourni par contre.
882 2
 no authority has passed by to see us. We don't have a place t sleep ( incomplete )
896 2
 It's Over in Gressier. The population in the area - Incomplete
924 2
 we sleep with the baby. Thanks in advance for the help you will bring us. ( incomplete )
930 2
 I need help in Jrmie because I was in Port-au-Prince in university I am counting on you.
932 2
 fsa pou mwen s v p map mouri mwen gen tout po blem ede m a do that for me plz. I'm dying. I have all sorts of problems. Help me
1227 2
 .. Gonaives, in a place called Canal Bois in French. i'm writing this message just to..
1249 2
 GEN YON TIBEBE KI MALAD NAN KOU PASKE BLOK TONBE SOU LI. MEN DIREKSYON AN LEW RIVE NAN VIL LEYOGAN WAP MONTE NAN WOUT DABON LEW RIVE NAN KAFOU DABON WAP VIRE NAN BO KKOTI YZIN NAN. WAP JWENN YON KAFOU LEW RIVE PIDEVAN WAP WE SANT CEFECAC LA. OUBYEN LEW NAN WOUT WAP RELEM EPI MAP PRAN YON MOTE POUM VIN CHAC
1310 2
 don't understand the first part. .. understanding. We are waiting for your response
1402 2
 Est-ce que ya monde qui aller U. s. a et qui ont tomoin qui Americain Are there people who are going to US and that have witness that is american
1497 2
 Gens ont information qui dit que si on moins citoyens americains vit ici l que tout aller ok tout le monde vite fil pour qu'on essaie survivre. People have information that say that if american citizens live here that all will be ok and that everyone ( could be the world ) hurrying to try to make us survive.
1685 2
 This is my address : Cersine 8 Prolong. .. .
1779 2
 I would like to have some information on the last disaster
2342 2
 No location : Ou se trouve l'ambassade du Sngal en Haiti
2467 2
 Je veux savoir comment je peux obtenir de l'aide pour mon orphelinat situ  Delmas 31, svp dites-moi ce que je dois faire
2532 2
 142, Ruelle Beaulieu, Mon Repos 44 Carrefour
2548 2
 . ..  Esdras. Address : Solidarit Village, Toussain Louverture Street 83A!
3016 2
 Route des dalles prolonges #277 after Morne Jean-Pierre, thank you do. ..
3121 2
 we are in rue Dessalines Petit goaves and it necessary to..?
3357 2
 I am very happy to get the messages that tell me about the precautions I have to take. Thank you very much, If you could make it so that food comes my way it would be good because ..
3611 2
 mouin vle kite ayiti depi kek jou.
4583 2
 Mwen ta renmen jwenn yon djb. ske gen posiblite pou mwen jwenn li? Kisa ou ka f pou ede mwen? Mwen bezwen savis ou.
4625 2
 (Delmas 33 Charboniere infomatyon s'il vous plait.)
4717 2
 Carrefour Feuille rue Mgr Prol # 39
4776 2
 Ede m nan lort pou genyen yon bourss
5070 2
 mwen ta renmen gen enfmasyon sou siklyn nan peyi mwen
5550 2
 jel2  Acte 5: 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch102kr Es59
5870 2
 I'd like to know after this drama, will there be anywhere that I may see a psychologist, who maybe available because I have
5969 2
 gjm.adgjmpgjm.adgjmgjmgjmgjmgjmgkmptwptwptwptwptwptwptwptwptwptwpwptwptwgjmgjmgjmad.ad.ad.ad.d.ad.d.da.d.ad.ad.ad
6068 2
 are what the imigration restarts has make of them pass-port for people that not of pass-port
6253 2
 mwen besoin dlo avek mange na zon bon repos, lilavois
6335 2
 Damocles!Hracles!Philockles!Hyphocles.!yayecles!zigzacles!domagecles!lucles!77h
6410 2
 The SMS:  Evitons 2 traiter 1 tas bLaissons 2 cot 7 kesyon. Ke tu sois direct tais notre mach conclus 2 c matin. J't'attends
6467 2
 Midi Estimene:rue Lambert Prolongee and rue Merilus #4 (Petion-ville)
6471 2
 Amoni se Richi: Rue Raphael et Cerisier (Petion Ville)
7131 2
  9GeQYeYGQEQtm
7177 2
 annot ni batiman dada cheri se pwason ni ou ni manmi w ni keti renmen an pil la wi se yon gro rat at yon gro kwapo kitap batay lasirne f tranf pou tou
7256 2
 0H 8@@ @2x @e8x3 xr
7343 2
 http://wap.sina.comhttp://wap.sina.com
7388 2
 Wesantyahoo.fr.Pepayisenyahoo.fr
7549 2
 //// // @:@
7683 2
 NOTES: this message is not complete
8069 2
 f k yo ap mal viv nan ansagal lagonav.msi.
8110 2
 8 @9q@@  5 m) 1A a!a ?aCYCLONE
8143 2
 /''''''''@''''''''''''''''@ @''''' michou )) ''''''''''''cyclone.
8280 2
 I@UU#UTGa UTUUUXU  UU@UU@UUp U.
8497 2
 Good evening to all parts of the United Nations so I remsiw Adra, Spain because I see something to bring 250 people found the four towels soap Cink had a six ice all very much pleased the United Nations kounya other things I'm waiting for luggage next to Always on baylode.
8555 2
 Pal kraze preval di pa gen pwoblem, pal jistis kraze preval di sa te dwe kraze 2ja paske pat janm gen jistis, yo di kleren lakay ak rhum barbancourt kraze preval met 2 men nan tt li rele anmwey pa gen peyi ank.
8570 2
 0Tranbleman t aH 8@@ @2x @e8x3 xr    ' Gv?e?0
8654 2
 The SMS:  Rezilta Bak la sot bay 12 Janvye a nan lekl la vi a. Men kman l tonbe: Moun ki mouri nan dezobeyisans yo: Elimine Moun ki mouri anba pouvwa Bondye yo: Admi e rs moun ki rete yo ajoune. Pa bliye egzamen moun ajoune yo p'ap two lwen pou'l ft, degaj
8687 2
 Aa.Bb.Cc.Dd.Ee.Ff.Gg.Hh.Ii.Jj.Kk.Ll.Mm.Nn.Oo.Pp.Qq.Rr.Ss.Tt.Uu.Vv.Ww.Xx.Yy.Zz.KERLANGE.
8703 2
 3 mamit chabon,4 dola poban,kart,pn 2 t,kreson,tomat.
8730 2
 Mato30 Nivo60 Tiwl30 Ficel22 Ek49
8799 2
 Bonjou fr Louko mwen se simon st.pierre map koute radio 1 nan boukan-chat map mandew svp pouw salye moun sayo pou mwen: Eunide Elissain, wiskender st.pierre,et jesual st.pierre,alyas pipirit, kap koute radyo a chapotin. Msi.
8800 2
 2O TRI PYE, 5 POIRO, 2GD PESI, 1OMORU, 5LAY3DOLA SITWON
8854 2
 Prcaussion cons of the aspen earth
8878 2
 Zb rmd : dl 2, dl rep, dl chase
8901 2
 Zb rmd : dl c.lve dl 2, dl rep, dl chase.
8962 2
 please, we would like to know if itis true thereas in the moment.
8973 2
 NOTES: This message is not complete, it is not necessary to translate it.
9001 2
 NOTES: This message mark not enough information.
9395 2
 Word Hurricane and earthquake
9526 2
 Wpltjgdtm pwjtj ptjg. T .)tgjpg(uk
9740 2
 Tegen tranblement land kite yon pase nan north country of haiti sete year 1842 Bulan interest unknown
9816 2
 0H4Z(Z x(@zf0 ?!?@x PrxP0c6
9901 2
 RT lucasrohan Tem alguma coisa do Haiti? T u00f4 acomapanhando a lista nprnews haiti earthquake t u00e1 ca u00f3tico t u00e1 um horror l u00e1
9998 2
 RT paipibat RT Teelek Flickr paipibat u0e15 u0e34 u0e14 u0e15 u0e32 u0e21 u0e20 u0e32 u0e1e u0e08 u0e32 u0e01 u0e40 u0e1e u0e34 u0e48 u0e21 u0e40 u0e15 u0e34 u0e21 u0e08 u0e32 u0e01 Flickr u0e44 u0e14 u0e49 u0e17 u0e35 u0e48 u0e19 u0e35 u0e48 u0e04 u0e23 u0e31 u0e1a http bit.ly 60OxGS #Haiti #Earthquake
10165 2
 alhamdulillah sekarang udah jarang Earthquake lagi
10232 2
 RT Fleegerian_Akin RT ShanCali Earthquake in carribean I feel sorry 4 dem ppl in hatti da whole island is basi cont http tl.gd 3g8mi
10292 2
 Haiti Earthquake Earthquake Hits Haiti C est tre tres rare que trembleme. http bit.ly 53Z4gm n Got News? Add It!
10309 2
 RT Contentgirls earthquake heeft mensen wel wakker gekregen maar is niet zwaar. Even benadrukken voor het geval iemand familie heeft o ..
10321 2
 Contentgirls gelukkig earthquake niet te zwaar Aruba Antillen. Heb jij er familie?
10383 2
 Gismis pallas_ploem earthquake heeft mensen wel wakker gekregen maar is niet zwaar. via Contentgirls
10477 2
 RT mHefneratm RT LoSoATM What happened n HaiTi ??&gt Da Whole Situation turn ugly! Xhi Xhi.. Lmao Nah a earthquake! WrD! $hyT Brazzi
11424 2
 Cara, eu to m‚àö‚â§ tenso, quero saber se minha prima e minha tia estao bem com esse terremoto '-' elas moram en Santiago no Chile &gt;.&lt;
11433 2
 la probabilidad advertida: Interseismic strain accumulation measured by GPS in the seismic gap between Constituci‚àö‚â•n and Concepci‚àö‚â•n in Chile
11511 2
 martelozzo Eu n‚àö¬£o to em Santa Cruz do Rioooooo Parrrrrrdoooo.. haushasua
11604 2
 ii_Santos Ah que legal.. Deve ser bem bacana trabalhar l‚àö¬∞.. eu to numa produtora de cinema l‚àö¬∞ perto do metr‚àö¬• santa cruz
11632 2
 On My Way To SantiagO with the team . PhOtOshOt mOde On . ;) En pistaaaaaaaa
11651 2
 Nem comentei, sabado fui na santa cruz .. Nem todo sabado eu to la mas a batalha ainda ‚àö¬© real
11652 2
 RT VN24H: LUZ EN CONCEPCI‚àö√¨N: Gerente de CGE: Hay 30% de luz en #concepci‚àö‚â•n #talcahuano. En 72 horas debiera estar restablecido casi to ..
11668 2
 elipepolesi @vivisabetudo po to sempre do lado do metro santa cruz na republica dos brother . festinhaa
11697 2
 aguinho89 Adding the 2010 S‚àö¬£o Tom‚àö¬© (with my rating 0 of 5) to my isopor com gelo! #amywine brincadeira, amo vinho e adoro suas dicas, abs
11707 2
 ikael_Santiago pode crer.. vou ler mais tarde pq to de saida ai posto aqui.. vlw brother!
11708 2
 RT atiasasun: #facts El cierre de los liceos de Santiago y otros debilita un alzamiento pinguino contra lavin // You got to be kidding me.
11737 2
 Utsatte turen til Santiago til i morgen, da broforbindelsen ble stengt for privattrafikk. Forst‚àöelse for at hjelpearbeid f‚àör prioritet.
11755 2
 De folga hoje, mas amanh‚àö¬£ to trabalhando no Arruda, para sofrer mais um pouco acompanhando o Santa Cruz. Haja cora‚àö√ü‚àö¬£o!
11785 2
 Concordo com o engenheiro de Santiago, quando eu for engenheira civil, pode deixar que eu vou inventar constru‚àö√ü‚àö¬µes fortes at‚àö¬© pra terremotos
11912 2
 odricao to em santiago, aqui nao houve tanto panico, mas as pessoas se assustam. eu estava em um pr‚àö¬©dio :-( #terremotochile
11932 2
 Boa noite.. Dake a poko to pegando a estrada.. vo p santiago conhecer E! &lt;3 *---*
11947 2
 Bem, se n‚àö¬£o caiu nem um copo do bar eu ja to mais tranquilo. Arrumando a mala e rumo a Santiago! Mengo estou sempre contigo!!!
11965 2
 limmby ‚àö¬© madrugada ! AUSHDUIAIUAS aah sakei qual eh! ‚àö¬© que eu to fazendo treinamento na facul impacta, Santa Cruz ai eu pensei que era la
11993 2
 uryAccordi tu ta em santa cruz neh to em rio grande :) amo santa cruz..gruta dos indios lindo demaisssssssssssss.. :)
12009 2
 mviick to ligada , santa cruz (: ja colei , rs
12013 2
 Pra completar, os torcedores do Santa Cruz que invadiram a comunidade amea‚àö√üaram dar porrada em quem for \
12022 2
 lextriplex avisa a galera do blog que eu to aqui em Santiago tentando falar com eles desde sabado mas nao consigo logar nos coments daqui.
12031 2
 aio_gattuso to ouvindo Guilherme & Santiago. SAHUSAHASUHASUAS
12038 2
 Falta tan tan poco.. ¬¨¬¥Simply Red - Holding back the years¬¨¬™. Arena Santiago, de all‚àö¬∞ somos! Night.  http://blip.fm/~n0frf
12057 2
 Se o pessoal de SANTA CRUZ for t‚àö¬£o legal AO VIVO, como ‚àö¬© por TWITTER/ORKUT/FOTOLOG, essa sexta vai ser uma das mais legais da hist‚àö‚â•ria!
12058 2
 RT andatopaz: Se o pessoal de SANTA CRUZ for t‚àö¬£o legal AO VIVO, como ‚àö¬© por TWITTER/ORKUT/FOTOLOG, essa sexta vai ser uma das mais lega ..
12067 2
 Hamar         Ghair Sirkare Adare      krwao    kro    n kons Chez kons ilika   ky Chez? Plz    Sirkare (SRSO) Adara ( ) ( Crecent Hillah) Ahmar (Takhleeq foundition) (Pirbha
12081 2
 hmre vilage kachipul men flood ne bht nuksan kiya he hmra crop,hmre ghr aur hmra rozgar sbkch khtm hogya he mgr govt ne abi tk hmri koi help nhn ki he.
12086 2
 hmre vilage kachipul men flood ne bht nuksan kiya he hmra crop,hmre ghr aur hmra rozgar sbkch khtm hogya he mgr govt ne abi tk hmri koi help nhn ki he. Location:vilage kachipul distt:kambr shadadkot plz visit u city kachipul
12109 2
 WATAN.CARD ki dosri qist kab jari ho gi. KotAddu.MuzaffarGarh
12113 2
 . Safiullah fadr a muhmmad shfi
12115 2
 bary mherbani meri madad ke jayee gaoon Gul khan laghari Talkio Khair Pure Nathan shah Distk Dadu sindhi U/C Kandi chukhi salleb zadgan no govt no orgnization no one please help me sender
12117 2
 NuFI H H K Please Help me vellage Gul khan laghari Talkio Khair Pure Nathan shah Distk Dadu sindhi U/C Kandi chukhi Flood loss victums Na goverment na help ki ha na kis Tanzam Na please hel
12119 2
 I am a poor man i have youngr children But the local government says i am not eligible to receve watan card please issue watan card on my C.N.I.C no.
12121 2
 ( Alaikum)    U / C Rojhan Sharqi     Rojhan       Saheja    tabah      Awam      Khudara hamary    Dhia
12128 2
 (Meara nam qamadeen hea bassti bakhshali maoza wahmachka tahseel rojhan zella rajanpur hea na hamea watancard mlea our na hamea koi our amdad mela makanat our saman pani baha kar lea ghea hea.patwari halqa nea maoqa par tassweer bhe banaea.yah meara sh
12137 2
 Complaint against save the children is not visited to us basti sabqi wala p/o kotla mughlan teh Jampur
12140 2
 Distrct jamshoro lakhra   residentional          ,      ,      somethng
12142 2
 . Saed. Khan. Tahsel. Jampr. Zela. Rajnpr. Ghali. Rakh. Azmt wala
12144 2
  bary silb zadgan.mir abo.   Alli halya sylab  wafat a gya  wo a fasl  dikh   ly      thiesil lyaqt   rahem     fasl  dikh  kly wahan       achank darye Chanab
12145 2
 Iam Raees khan and iam very poor man.
12152 2
 Sukkur , ,    ,
12157 2
 Tahsel. jamur.    Rajanpur?
12158 2
 Tahsel,. . Jamur,. . D.s.s.,. . Rajanpur.
12159 2
 100  persnt  Effecte     Nitionality K Righter          K       krt a plz   hamar  kro loct VILLAG CITY KACHIPUL Dist! Kamber Shahdad a  Qubo plz Vist  Kachipul
12163 2
 KHALIL AHMAD AND M ASMIAL KOTLA MUGHLAN DISTREKT RAJANPUR TAHSEEL JAMPUR HAMARAY HAN PANEY 10 Fut HAMARAY EAT THA 100 FESAD steadfast KITTER Valon HAN HO GAY SAY KY stage 2 MARTBA RASHAN Mela 1 KAHEN SAY MAN CAMP KER Mang Laya BACHON HON MAN IS KO AUR CH
12164 2
 KHALIL AHMAD ARIAN KOTLA MUGHLAN TAHSEL JAMPUR DISTREKT RAJANPUR HIM NA PAHLAY BHI AP KO SMS KEYA THA AUR REPORT BHI DEY THE IS LAYA HIM AP KO PHIR YAD DELANA CHAHTA HAN K HIM AP K TAVON K MONTZIR HAN MAJBOR HAN IS LAYA BAR BAR SMS KER RAHAY HAN MAHIRB
12170 2
   kamea     kole asman K
12174 2
 Aijaz ahmed dit khairpur meirs thahsel nara vlage misale goth tajal shref yhan sind blochastan se 300khandan hm mojod han hman tkreban do mah se koi i
12184 2
   selab  waja sy a giya. I dobara  BNA sakta  mooshkil   shadeed. Mery 3 choty choty bachy    Waly shdeed
12187 2
 Mera ghar selab ki waja sy gir giya hy. aur dobara nahin bna sakta main shadeed mooshkil men hoon. mery 3 choty choty bachy aur baqi ghar waly shdeed sardi khaema mein guzarny par majboor hin. khdara ghar banany mein meri mdad kro. plz help me. khalil
12189 2
 Mera naam Abdul Aziz s/o Abdul karim hai.main dera Allah yaar mein rahta hoon.sailab ki wajah se jo tabahi hue hai.iss mein mera ghar bhi sailab ki nazar ho gaya hai.sailab ke baad hum besaro samaan pare hain.abhi tak humein kisi kisim ki imdad naheen
12190 2
 Ap ko aur ap k sare team ko Eid Mubarak ho?Sir Ap logon ko aik Request hai k sir aik bar ap hamar city mein aa kr visit kro ya to apna Nimaind behjo to hamare sub halat ke khaber malom hoge!Sir hazaron k tadad mein logo ko watan card be na mila jin ko
12197 2
 AURANG ZEB S/O GULAB DIN DIST MIANWALI TEH ESSA KHEL VIA KALA BAGH P/O TOLA MANGLI VILLAGE MUHABBAT KHEL sir may selab say motaser howa houn,leken mujy koi emdad wagera nhi mili,mujy omeed hai k ap meri madad zaroor fermaygy.shokria
12203 2
 BBC HELP LINE K TUFAIL MIN TEH.JAMPUR DISTT.RAJANPUR ALLAH ABAD S MUHAMMAD SADIQ SON OF RAHIM ALI FLOOD EFFECTED HON GHAR K KISI BHE BUNDY K NA HE WATAN CARD AUR NA HE KHORAK MILI HAMARI KISI MATLOBA BUNDY TAK RASI K JAEY JO PROBLEM KO SOLVE KR SEQY TH
12208 2
 most affacted areas in Punjab kot addu, jampur, kot mithan
12210 2
           .
12213 2
 muhammad iqbal son of mashal khan nic no0
12217 2
 thatta,         (, ,)
12220 2
 murad mae zauja khuda baksh basti ahmmad yar bakhshu bhattar dakkhana thul hamza teh liaqat pur dest r y khan please tell us that why woman watan card have not been made. please help us thank you
12222 2
 Murad mae zauja baksh Basti Khuda ahmmad yard bakhshu bhattar dakkhana liaqat tea thul Hamza Khan Pur dest ry hamen yeh aap keh ham bataen aurton k kiyon nahen native bane card please hamari madad kijye shukria
12223 2
 Muza rakh kan wah tahsil jam pur zila rajan pur yahan hamary 30 ghar mujud hayn hamar na hakumt ny kui amdad ki hay na kui inguz waley ay hain awr na hmen watn kard melen hayn hamari guzaresh hamary ailaky dura karen
12226 2
  ShahZaib   Kachipul,  Aqwame Muthida  apeel   Hamare     pareshane BRT  , Berozgare Badhale Plz    apeel      n !      Khad a  Wo Kisano     Wo
12233 2
 district sms kambar shahdadkot tullka qubo council hazarwah deh seer dakhan village himath ali chandio safdar ali chandio
12243 2

12250 2
   WAJA          TAHSEEL  KHAIRO  JACAB  , SA  ,  ,    AABAD   APEEL MADAD
12254 2
  MUTASER
12258 2
 Pr Sahil Khan of Peshawar Ap kaisi teak hi how programe Acha hai meri chalta level ap sub se ko salam team (khuda hafiz
12268 2
 saed khan rakh azmt wala tahsel jampy dss rajanpur punjab
12273 2
 Ghulam Ali Zardari. Village:Qurban Ali Zardari. Taluka Sujawal District:Thatta. Sindh.
12275 2
 Sajid Ullah Khan s / o'Faiz Ullah Khan
12276 2
 Sajid ULLAH Khan s/oFaiz ULLAH Khan
12277 2
 sajjad ali son of Ghulam yasin city.khair pur nathan shah province sindh pakistan.
12278 2
 .  /    khairo Disctt. Jacobabad.
12281 2
 selab 2 kamre tabah kardia     melap pls a
12284 2
 shamsher haider mirani moza sumra nashaib janoobi
12291 2
 SIR WE REUEST YOU UN PEORLE BE JUST AND REALISE WHO IS EFFECTED AND WHO IS NOT. IF YOU REALLY WANT TO HELP THE EFFECTED ONES THEN..
12299 2
 SULTAN AHMAD S / O Ahmad Yar Basti Dera AHMADYAR BHATTER DAKKHANA FAREEDI TEA Liaqat RY KHAN PUR DEST MERA Watan CARD NAHEN Bana BARAE MAHERBANI AAP MUJHAY BHE Watan Shukri DEN DAY CARD
12301 2
    MAOZA          U  REP '
12302 2
 SYED EJAZ BUKHARI MAOZA SHAH WALI TEHSIL ALI PUR DISTT MUZAFAR GARH IF U HAVE UR REP
12306 2
 TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA KHEL VIA KALA BAGH P/O TOLA MANGLI VILLAGE MUHABBAT KHEL sir may selab say motaser howa houn,but what i can
12307 2
 TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA KHEL VIA KALA BAGH P/O TOLA MANGLI VILLAGE MUHABBAT KHEL sir may selab say motaser howa houn,leken mujy koi emdad wagera nhi mili,mujy omeed hai k ap meri madad zaroor fermaygy.shokria
12308 2
 TEH SUHBAT PUR VILL NASEER KHAN KHOSA MY PRESENT LOC
12317 2
 UN aur UN K Nimaidon ko Apeel krt hain k? Hamara Rozgar,Crops,aur taleem Health,saf pani peane k lea sub kuch Effecte hoge hain!Hamre Ilaiqe mein
12326 2
 I allhadino khaskheli UC chatto a dehe a shalunka  walidad khaskheli    halya selab    gia hamare    fasal   Doob gia leaken hamare    engos a rashan      bhut
12328 2
 village koor mir mohmmad u c burira takuka khairpur nathan shah distt: dadu
12335 2
 gaav valay aahar aor aarthik samashyaa saamna kartha hai krupayaa maddath karo.Prof. A Sultan Soomro. Village Essa khan Thebo talk. KNSHAH.
12337 2
   CONNFCTION     /         .     SOLANGI,       JOHI
12389 2
 @jujoffer: So Frankenstorm has been reduced to Young Frankenstorm status‚àö√Ü
12595 2
 #SandyUntappd ‚àö‚â• Drinking an Oatmeal Stout by Brown's Brewing Company @Casa de Beer Nerd ‚àö‚â• http://t.co/gPjxgSN1 #photoIt's dark and stormy (@Frankenstorm Apocalypse - Hurricane Sandy w/ @whitneyebryan @gregwong) http://t.co/fBTFQlQJ
12668 2
 atrickSF @antmarshall @kleankut1 @somarlavous @mkbkrthebkmkr @gunsmoke415 Sandy cant blow for shit.. http://t.co/1R3ufoMOGuy on the roof of a building in Brooklyn #sandy #nyc http://t.co/E44mdt1U
13629 2
 Les habitants, dont l'activité est essentiellement pastorale, ont perdu une grande partie de leur bétail.
14828 2

Going trough the messages of the caterogy related-2 , some of the messages were not translated properly to english and some looks not related for action, for example:
 - 'It was very windy and there were heavy thunderstorms.'
 
Because it's unclear on why these messages ware classified as related-2, I will drop all these 188 messages.

In [18]:
df=df.drop(df[df['related']==2]['message'].index).reset_index(drop=True)

In [19]:
df[df['related']==2]

Empty DataFrame
Columns: [id, message, original, genre, related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 40 columns]

### Child-alone

child-alone is completely empty, so we will delet it

In [20]:
df.iloc[:,4:].sum()

related                   19906
request                    4474
offer                       118
aid_related               10860
medical_help               2084
medical_products           1313
search_and_rescue           724
security                    471
military                    860
child_alone                   0
water                      1672
food                       2923
shelter                    2314
clothing                    405
money                       604
missing_people              298
refugees                    875
death                      1194
other_aid                  3446
infrastructure_related     1705
transport                  1201
buildings                  1333
electricity                 532
tools                       159
hospitals                   283
shops                       120
aid_centers                 309
other_infrastructure       1151
weather_related            7297
floods                     2155
storm                      2443
fire                        282
earthquake                 2455
cold                        530
other_weather              1376
direct_report              5075
dtype: int64

In [21]:
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df=df.drop(['child_alone'], axis=1)

### Extra short messages

In [23]:
# find short messages
df[df['message'].str.len()<15]

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
12072,14315,,a,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16355,19448,#NAME?,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21535,25213,#NAME?,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22312,26062,#NAME?,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22522,26309,#NAME?,NaN,news,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1

In [24]:
df=df.drop(df[df['message'].str.len()<15].index).reset_index(drop=True)

In [25]:
df.shape

(26023, 39)

### <font color=red> 7. Extra features? </font>

### 8. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [28]:
engine = create_engine('sqlite:///DisasterResponse.db')
df.to_sql('Data', engine,if_exists='replace', index=False)

### 9. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.